* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* start Global */

body{

}

 .container{
     width: 1200px;
     margin: auto;
 }

 ul{
     list-style: none;
     padding: 0;
     margin: 0;
 }
/* end global */

/*start Navbar  */
.navbar{
    font-size: 20px;
    height: 0;
    color: white;
}

 .navbar .brand{
     float: left;
     width: 40%;
 }

 .navbar .links{
     float: left;
     width: 60%;
     margin-top: 15px;

 }

 .navbar .links li {
     display: inline-block;
     padding: 10PX 0;
     margin: 0 10px;
     text-transform: uppercase;
     border-bottom: 2px solid transparent;
     font-weight: bold;
 }
 .navbar .links li.active,
 .navbar .links li:hover{
     color: #1abc9c;
     border-bottom: 2px solid #1abc9c;
     cursor: pointer;

 }



 
 /* end navbar */

 /* satrt header */
.header{
    background: url("My project.jpg");
    
    
}
 /* end header */
 
 .clearfix{
     clear: both;
 }