/* start main  */
body{
    
    height: auto;
}

.container{
    width: 1170px;
    margin: auto;
}
.clearfix{
    clear: both;
}
/* end main */

/* start header */
.header .slider{
    background-image: url("My project2.jpg");
    background-size: cover;
    height: 650px;
}
#prevBtn {
    position: absolute;
    top: 50%;
    color: black;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    cursor: pointer;
    opacity: 0.5;
    font-family: monospace;
}
#nextBtn {
    position: absolute;
    top: 50%;
    color: black;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    cursor: pointer;
    opacity: 0.5;
    font-family: monospace;
}
/* .header .slider .intro{
    
    height: 600px;
    text-align: center;
    color:#2ecc71 ;
    padding-top: 200px;
} */

/* .header .slider .intro h2{
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #999;
    border-bottom: 4px solid #999;
    padding: 5px 0;
}
.header .slider .intro button{
    background: none;
    margin-top: 30px;
    font-size: 20px;
    border: 2px solid #999;
    color: #999;
    font-weight: bold;
    padding: 10px 30px;
} */
.header .navbar{
    background-color: #252f31;
    color: #fff;
    overflow: hidden;
}
.header .navbar h2{
    float: left;
    text-transform: uppercase;
    
    font-size: 30px;
    text-shadow: 0 0 10px #aaa;
}
.header .navbar h2 span{
    color: #2ecc71;
}
.header .navbar ul{
    list-style: none;
    padding-left: 0;
    float: right;
}
.header .navbar ul li{
    float: left;
    padding: 10px;
}

.header .navbar ul li a{
    color: #fff;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    text-shadow: 0 0 10px #aaa;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover{
    color: #30b576;
    
}
/* end header */


/* start features */
.features{
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 50px;
    
}
.features .feat{
    float: left;
    width: 33.33333%;
    height: 150px;
    
}
.features .feat h2{
    text-transform: uppercase;
    color: #555;
}
.features .feat p{
    line-height: 1.6;
    color: #888;
    text-align: justify;
    padding: 0 20px 0 0;
}
/* end features */


/* satrt about me */
.about-me{
    background-color: white;
    overflow: hidden;
}
.about-me .image{
    float: left;
    width: 40%;
}
.about-me .image img{
    width: 100%;
}
.about-me .info{
    float: left;
    width: 60%;
}
.about-me .info h2{
    margin: 40px 0 20px 40px;
    color: #555;
}
.about-me .info > p{
    margin: 0 0 10px 40px;
    
}
.about-me .info > p:last-of-type{
    margin: 30px 0 10px 40px; 
    color: #777;
}
.about-me .info p{
    
    line-height: 1.6;
    color: #777;
}
.about-me .info .hobbies{
    overflow: hidden;
    margin: 20px 0 0 40px;
}
.about-me .info .hobbies h3{
    color: #555;
    
}
.about-me .info .hobbies .content{
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}
.about-me .info .hobbies .content h3{
    color: #555;
}
.about-me .info .hobbies .content .icon{
    float: left;
    width: 12%;
    margin-right: 5%;
}
.about-me .info .hobbies .content .icon img{
    max-width: 100%;
    margin: 20px 10px 0 0;
}
.about-me .info .hobbies .content .text{
    float: left;
    width: 83%;
}
/* end about me */


/* start my skills */
/* .my-skills{
    padding-top:30px ;
    padding-bottom: 30px;
    overflow: hidden;
}
.my-skills .skills,
.my-skills .progress{
    float: left;
    width: 50%;
} */


/* end my skills */


/* start resume */
.resume{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
/* end resume */


/* start my education */
.education{
    padding-top:30px ;
    padding-bottom: 30px;
    overflow: hidden;
}
.education .main,
.education .exp{
    float: left;
    width: 50%;
}
/* end my education */


/* start reviews */
.reviews{
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
/* end reviews */


/* start links */
.links{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}
.links h2{
    color: #777;
}
.links p{
    line-height: 1.7;
    color: #666;
}
.links .projects{
    overflow: hidden;
    
}
.links .projects p{
    font-size: 20px;
    color: #999;
}
.links .projects > div{
    float: left;
    width: 33.333333%;
    margin-bottom: 10px;

}
.links .projects > div img{
    width: 92%;
    margin: 10px;
}
/* end links */

/* start portfolio */
.portfolio{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}
.portfolio h2{
    color: #777;
}
.portfolio p{
    line-height: 1.7;
    color: #666;
}
.portfolio .projects{
    overflow: hidden;
    
}
.portfolio .projects p{
    font-size: 20px;
    color: #999;
}
.portfolio .projects > div{
    float: left;
    width: 33.333333%;
    margin-bottom: 10px;

}
.portfolio .projects > div img{
    width: 92%;
    margin: 10px;
}
/* end portfolio */


/* start contact me */
.contact-me{
    background-color: white;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
}
.contact-me .info{
    width: 50%;
    margin-right: 5%;
    float: left;
}
.contact-me h2{
    color: black;
    margin-left: 40px;
    
}
.contact-me p{
    color: #6a6e71;
    margin-left: 40px;
    line-height: 1.7;
}
.contact-me p strong{
    color: black;
}
.contact-me .form{
    width: 45%;
    float: left;
}
.contact-me .form label{
    display: block;
    color: black;
    margin: 10px 0;
}
.contact-me .form input[type="text"]{
    background-color: black;
    color: #fff;
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}
.contact-me .form input[type="email"]{
    background-color: black;
    color: #fff;
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}
.contact-me .form textarea{
    background-color: black;
    color: #fff;
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    height: 50px;
}
.contact-me .form button{
    background-color: #191e22;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px;
    
}
/* end contact me */


/* start footer */
.footer{
    background-color: #191e22;
    color: #6a6e71;
    text-align : center;
    padding : 20px;
    position: fixed ;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    
    
}

.footer ul {
    list-style: none;
    padding-left: 0;
   
}
.footer ul li {
    display: inline-block;
}
.footer ul li img{
    width: 30px;
    margin-left: 5px;
}
/* end footer */